<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content = "<%= data?.CSRF_TOKEN %>">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
  <link rel="stylesheet" href="/dev_v2/Addmission_student/style.css">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp" crossorigin="anonymous"></script>

</head>

<body>
  <header class="site__header">
    
  </header>
  <%
    const dept = {
      "CS": "Computer Science",
      "MATH": "MATHAMETICS",
    }
  %>
  <div class="dashboard__container">
    <div class = "sidebar__wrapper">
      <sidebar class="sidebar-menu">
        <!-- top logo -->
        <div class="top">
          <div class="logo">
            <!-- <img src="./img/img_avatar.png" alt="loading"> -->
            <h2>LMS<span class="logo-name"> Application</span></h2>
          </div>
          
        </div>

        <div class="top">
          <div class="logo">
            <img src="/_static_/<%= data?.student_info[0]?.dp_path %>" alt="loading">
            <!-- <h2>FIM<span class="logo-name">whatever</span></h2> -->
          </div>
          <div class="profile_info">
            <h5><%= data?.student_info[0]?.fname %> <%= data?.student_info[0]?.lname %></h5>
          </div>
        </div>

        <div class="sidebar">
          <a href="/development/student/home" class="active">
            <span class="material-icons-sharp">home</span>
            <h3>Dashboard</h3>
          </a>
          <a href="/development/student/classes">
            <span class="material-icons-sharp">class</span>
            <h3>Classes</h3>
          </a>
          <a href="/development/student/courses">
            <span class="material-icons-sharp">auto_stories</span>
            <h3>Courses</h3>
          </a>
          <a href="/development/student/addmission">
            <span class="material-icons-sharp">add_circle</span>
            <h3>Addmission</h3>
          </a>
          <a href="/development/student/profile">
            <span class="material-icons-sharp">person_pin</span>
            <h3>Profile</h3>
          </a>
          <a href="" class = "logout__btn">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </sidebar>
    </div>  

    <main>
      <!--<h2>header test 1</h2>-->

      <div class="insights">
        <div class="insight-1">
          <div class="icon__content">
            <span class="material-icons-sharp">account_circle</span>
          </div>
          <div class="middle">
            <div class="left">
              <!-- user name -->
              <h2><%= data?.student_info[0]?.fname %> <%= data?.student_info[0]?.lname %></h2>
              <!-- user eamil -->
              <h3><%= data?.student_info[0]?.email %></h3>
              <!-- dept name  -->
            </div>
          </div>
        </div>

        <div class="insight-2">
          <div class="icon__content">
            <span class="material-icons-sharp">school</span>
          </div>
          <div class="middle">
            <div class="left">
              <!-- department info -->
              <h2><%= dept[data?.student_info[0]?.dept_name] %></h2>
              <h2><%= data?.student_info[0]?.term_name %></h2>
            </div>
          </div>
        </div>

        <div class="insight-3">
          <div class="icon__content">
            <span class="material-icons-sharp">auto_stories</span>
          </div>
          <div class="middle">
            <div class="left">
              <div class="card__content__1"> 
                <h2>Courses joined<i class="fa-solid fa-caret-right"></i></h2>
                <%
                  let joined_courses = 0; 
                  data?.courses_enrolled?.forEach(item => {joined_courses++})
                %>
                <h2><%= joined_courses %></h2>                
              </div>
              <h3>You have enrolled in <%= joined_courses %> courses</h3>
            </div>
          </div>
        </div>

        <div class="insight-4">
          <div class="icon__content">
            <span class="material-icons-sharp">event_note</span>
          </div>
          <div class="middle">
            <div class="left">
              <div class="card__content__1"> 
                <%
                  let joined_classes = 0; 
                  data?.class_rooms_joined?.forEach(item => {joined_classes++})
                %> 
                <h2>Classes joined<i class="fa-solid fa-caret-right"></i></h2>
                <h2><%= joined_classes %></h2>                 
              </div>
              <h3>You have enrolled in <%= joined_classes %> classes</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="activities">
        <!--<h2>Activities</h2>-->
        <div class="activity__1">
          <div class="activity__1__header">
            <h5>Get Addmission</h5>
          </div>
          
          <div class="activity__1__body">
            <div class="addmission_form_wapper">
              <form>
                <div class="form-group row" style = "margin-bottom: 0.5rem;">
                  <div class="col-sm-6">
                    <label for="staticName" class="form-label">Student Name</label>
                    <input class="form-control student_name_data" id = "staticName" type="text" placeholder="<%= data?.student_info[0]?.fname %> <%= data?.student_info[0]?.lname %>  " readonly>
                  </div>
                  <div class="col-sm-3">
                    <label for="staticDept" class="form-label">Student Department</label>
                    <input class="form-control student_dept_data" id = "staticDept" type="text" placeholder="<%= dept[data?.student_info[0]?.dept_name] %>" readonly>
                  </div>
                  <div class="col-sm-3">
                    <label for="staticTerm" class="form-label">Current Term</label>
                    <input class="form-control student_dept_data" id = "staticTerm" type="text" placeholder="<%= data?.student_info[0]?.term_id %>" readonly>
                  </div>
                </div>
                <div class="form-group" style = "margin-bottom: 0.5rem;">
                  <label for="input_term_data" style = "margin-bottom: 0.5rem;">Select Term</label>
                  <select class="form-control student_term_data_input" id="input_term_data">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <button type="submit" class="btn-custom btn btn-primary addmission_submit" style = "margin-top: 0.7rem;">Get Addmission</button>
              </form>
            </div>
          </div>
          
        </div>
        <div class="activity__2">
          <div class="activity__2__wrapper">
            <div class="activity__2__header">
              <h5>Academics</h5>
            </div>
            <!-- load content dynamically from here -->
            <div class="activity__2__body">
              
              <div class="activity__2__content">
                <div class="content_group">
                  <div class="content__owner__img">
                    <span class="material-icons-sharp md-48">school</span>
                  </div>
                  <div class="content__sub__group">
                    <div class="content__owner__info">
                      <h3><%= data?.student_info[0]?.fname %> <%= data?.student_info[0]?.lname %></h3>
                    </div>
                    <div class="content__body">
                      <h3>Dept: <%= dept[data?.student_info[0]?.dept_name] %></h3>
                      <h3>Term: <%= data?.student_info[0]?.term_name %></h3>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- break -->
              
              
              
            </div>
          </div>
            
        </div>
      </div>

      <div class="custom__modal__wrapper">
        <div class = "custom__modal__body">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close custom__close__btn" data-dismiss="modal" aria-label="Close">
                <span class="material-icons-sharp">
                  close
                  </span>
              </button>
            </div>
            <div class="modal-body">
              <p class = "modal-body-text">Modal body text goes here.</p>
            </div>
          </div>
        </div>
      </div>

    </main>

    




  </div>
  <script>
    const modal_close_btn = document.querySelector(".custom__close__btn")
    const modal_wrapper = document.querySelector(".custom__modal__wrapper")
    const CSRF_TOKEN = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    const student_term_data_input = document.querySelector(".student_term_data_input")
    const addmission_submit = document.querySelector(".addmission_submit")
    addmission_submit.addEventListener("click", processAddmisionInput.bind())
    modal_close_btn.addEventListener("click", processModalClose.bind())
    modal_wrapper.addEventListener("click", processModalClose.bind())


    function processAddmisionInput(e){
      e.preventDefault()
      const term_id = +student_term_data_input.value
      
      let data = { term_id: term_id }
      console.log(term_id)
      fetch("/api/addmission", {
        method: "POST",
        headers: {
          "content-type": "application/json",
          'CSRF-Token': CSRF_TOKEN,
        },
        body: JSON.stringify(data)
      }).then(response => response.json())
        .then(data => {
          console.log(data)
          //alert(data.msg)
          let header = (data?.success === 1) ? `Action Successful` : `Action Unsuccessful`
          let msg = data?.msg
          const result = {
            "header": header,
            "msg": msg
          }
          processModalOpen(result)
        })


    }

    function processModalClose(){
      document.querySelector(".custom__modal__wrapper").classList.remove('modal__active')
      document.querySelector(".custom__modal__body").classList.remove('modal__animation')
      setTimeout(()=>{
        window.location.href = ''
      }, 100);
    }

    function processModalOpen(data){
      document.querySelector(".modal-title").textContent = data?.header
      document.querySelector(".modal-body-text").textContent = data?.msg
      document.querySelector(".custom__modal__wrapper").classList.add('modal__active')
      document.querySelector(".custom__modal__body").classList.add('modal__animation')
    }

    const logout__btn = document.querySelector(".logout__btn")
    logout__btn.addEventListener("click", processLogout.bind())

    function processLogout(e){
      console.log(e.target)

      fetch("/api/auth/logout")
      .then(response=>response.json())
      .then(data=>{
        console.log(data)
        window.location.href = "/login"
      })


    }

  </script>
</body>

</html>