<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content = "<%= data?.CSRF_TOKEN %>">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
  <link rel="stylesheet" href="/dev_v2/Classes_teacher/style.css">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp" crossorigin="anonymous"></script>

</head>

<body>
  <header class="site__header">
    
  </header>
  <%
    const dept = {
      "CS": "Computer Science",
      "MATH": "MATHAMETICS",
    }
  %>
  <div class="dashboard__container">
    <div class = "sidebar__wrapper">
      <sidebar class="sidebar-menu">
        <!-- top logo -->
        <div class="top">
          <div class="logo">
            <!-- <img src="./img/img_avatar.png" alt="loading"> -->
            <h2>LMS<span class="logo-name"> Application</span></h2>
          </div>
          
        </div>

        <div class="top">
          <div class="logo">
            <img src="/_static_/<%= data?.teacher_info[0]?.dp_path %>" alt="loading">
            <!-- <h2>FIM<span class="logo-name">whatever</span></h2> -->
          </div>
          <div class="profile_info">
            <h5><%= data?.teacher_info[0]?.fname %> <%= data?.teacher_info[0]?.lname %></h5>
          </div>
        </div>

        <div class="sidebar">
          <a href="/development/teacher/home" class="active">
            <span class="material-icons-sharp">home</span>
            <h3>Dashboard</h3>
          </a>
          <a href="/development/teacher/classes">
            <span class="material-icons-sharp">class</span>
            <h3>Classes</h3>
          </a>
          <a href="/development/teacher/courses">
            <span class="material-icons-sharp">auto_stories</span>
            <h3>Courses</h3>
          </a>
          
          <a href="/development/teacher/profile">
            <span class="material-icons-sharp">person_pin</span>
            <h3>Profile</h3>
          </a>
          <a href="#" class = "logout__btn">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </sidebar>
    </div>  

    <main>
      <!--<h2>header test 1</h2>-->

      <div class="insights">
        <div class="insight-1">
          <div class="icon__content">
            <span class="material-icons-sharp">account_circle</span>
          </div>
          <div class="middle">
            <div class="left">
              <!-- user name -->
              <h2><%= data?.teacher_info[0]?.fname %> <%= data?.teacher_info[0]?.lname %></h2>
              <!-- user eamil -->
              <h3><%= data?.teacher_info[0]?.email %></h3>
              <!-- dept name  -->
            </div>
          </div>
        </div>

        <div class="insight-2">
          <div class="icon__content">
            <span class="material-icons-sharp">school</span>
          </div>
          <div class="middle">
            <div class="left">
              <!-- department info -->
              <h2><%= dept[data?.teacher_info[0].dept_name] %></h2>
              <div class="card__content__1"> 
                <h3>Department ID<i class="fa-solid fa-caret-right"></i></h3>
                <h2><%= data?.teacher_info[0].dept_id %></h2>                
              </div>
            </div>
          </div>
        </div>

        <div class="insight-3">
          <div class="icon__content">
            <span class="material-icons-sharp">auto_stories</span>
          </div>
          <div class="middle">
            <div class="left">
              <div class="card__content__1"> 
                <h2>Your Courses<i class="fa-solid fa-caret-right"></i></h2>
                <%
                  let joined_courses = 0; 
                  data?.courses_teaching?.forEach(item => {joined_courses++})
                %> 
                <h2><%= joined_courses %></h2>                 
              </div>
              <h3>You are teaching <%= joined_courses %> courses</h3>
            </div>
          </div>
        </div>

        <div class="insight-4">
          <div class="icon__content">
            <span class="material-icons-sharp">event_note</span>
          </div>
          <div class="middle">
            <div class="left">
              <div class="card__content__1"> 
                <h2>Classes created<i class="fa-solid fa-caret-right"></i></h2>
                <%
                  let classes_created = 0; 
                  data?.class_rooms_created?.forEach(item => {classes_created++})
                %> 
                <h2><%= classes_created %></h2>                     
              </div>
              <h3>You have created <%= classes_created %> classes</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="activities">
        <!--<h2>Activities</h2>-->
        <div class="activity__1">
          <div class="activity__1__header">
            <h5 class = "test">Classrooms Created <span><i class="icon fa-solid fa-caret-up link__icon"></i></span></h5>
            <h5 class = "test2">Create Classroom <span><i class="icon fa-solid fa-caret-down link__icon"></i></span></h5>
          </div>
          
          <div class="activity__1__body">
            

            <div class="classroom_form_wapper">
              <form>
                <div class="form-group row" style = "margin-bottom: 0.5rem;">
                  <div class="col-sm-12">
                    <label for="classroom_name" class="form-label">Class Name</label>
                    <input class="form-control classroom_name_data" id = "classroom_name" type="text" placeholder="Give a class name" required>
                  </div>
                  <!-- <div class="col-sm-3">
                    <label for="staticDept" class="form-label">Student Department</label>
                    <input class="form-control student_dept_data" id = "staticDept" type="text" placeholder="CS" readonly>
                  </div>
                  <div class="col-sm-3">
                    <label for="staticTerm" class="form-label">Current Term</label>
                    <input class="form-control student_dept_data" id = "staticTerm" type="text" placeholder="1" readonly>
                  </div> -->
                </div>
                <div class="form-group row" style = "margin-bottom: 0.5rem;">
                  <div class="col-sm-6">
                    <label for="input_course_name_data" style = "margin-bottom: 0.5rem;">Select Course</label>
                    <select class="form-control course_name_input" id="input_course_name_data" required >
                      <% data?.courses_teaching.forEach(course=>{ %>
                        <option value="<%= course?.course_id %>" data-course-code = "<%= course?.course_code %>"><%= course?.course_name %></option>
                      <% }) %>  
                      <!-- <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option> -->
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <label for="staticCC" class="form-label">Course code</label>
                    <input class="form-control course_code" id = "staticCC" type="text" placeholder="<%= data?.courses_teaching[0]?.course_code %>" readonly>
                  </div>
                  
                </div>
                <button type="submit" class="btn-custom btn btn-primary classroom_create_btn" style = "margin-top: 0.7rem;">Create classroom</button>
              </form>
            </div>

            <!-- classrooms  -->
            <div class="class_room_parent hidden2">
              
              <div class="class__room__wrapper">
                <!-- <div class="card">
                  <h3 class="card-header">CSA by RAFA</h3>
                  <div class="card-body">
                    <h5 class="card-title">Computer System Architecture</h5>
                    <h6 class="card-title">CSCORE01</h6>
                    <h6 class="card-text">Instructor: Rafa Nadal</h6>
                    <a href="#" class="btn-custom-2 btn btn-primary">Go to class</a>
                  </div>
                </div> -->
                
                <% if(data?.class_rooms_created?.length === 0){ %>

                  <div style = "display: grid; place-items: center; grid-column-start: 1; grid-column-end: 3;">
                    <h3><i class="fa-regular fa-face-frown fa-lg"></i> No Classrooms to show ...</h3>  
                  </div>
                  
                <% }else{ %>

                    <% data?.class_rooms_created?.forEach(item =>{ %>
                        <div class = "content__grid">
                          <div class="card">
                            <h3 class="card-header"><%= item?.class_name %></h3>
                            <div class="card-body">
                              <h5 class="card-title"><%= item?.course_name %></h5>
                              <h6 class="card-title">Course code: <%= item?.course_code %></h6>
                              <h6 class="card-text">Instructor: <%= item?.fname %> <%= item?.lname %></h6>
                              <a href="/development/teacher/classroom/<%= item?.class_room_id %>" class="btn-custom-2 btn btn-primary">Go to class</a>
                            </div>  
                          </div>  
                        </div>
                    <% }) %>
                  
                <% } %>


                  
              </div>
              
            </div>

          </div>
          
        </div>

        <div class="activity__2">
          <div class="activity__2__wrapper">
            <div class="activity__2__header">
              <h5>Courses teaching</h5>
            </div>
            <!-- load content dynamically from here -->
            <div class="activity__2__body">
              
              <% if(data?.courses_teaching?.length === 0) { %>
                <div class="activity__2__content">
                  <div class="content_group">  
                    <div class="content__sub__group">
                      <div class="content__owner__info">
                        <h3> <i class="fa-regular fa-face-frown fa-lg"></i> Currently teaching no courses ...</h3>
                      </div>
                      <div class="content__body">
                       
                      </div>
                    </div>
                  </div>
                </div>
              <% }else{ %>

                <% data?.courses_teaching?.forEach(item =>{ %>
                  <div class="activity__2__content">
                    <div class="content_group">
                      <div class="content__owner__img">
                        <span class="material-icons-sharp md-48">auto_stories</span>
                      </div>
                      <div class="content__sub__group">
                        <div class="content__owner__info">
                          <h3><%= item?.course_name %></h3>
                        </div>
                        <div class="content__body">
                          <h3>Course code: <%= item?.course_code %></h3>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                <% }) %>

              <% } %> 
              
            </div>
          </div>
            
        </div>
        
      </div>
      
      <div class="custom__modal__wrapper">
        <div class = "custom__modal__body">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close custom__close__btn" data-dismiss="modal" aria-label="Close">
                <span class="material-icons-sharp">
                  close
                  </span>
              </button>
            </div>
            <div class="modal-body">
              <p class = "modal-body-text">Modal body text goes here.</p>
            </div>
          </div>
        </div>
      </div>

    </main>


  </div>
  <script src = "/dev_v2/Classes_teacher/scripts.js"></script>
</body>

</html>